# ignore secrets, virtual environments and typical python compilation artifacts

# ignore temp dlthub artifacts
secrets.toml
.sources

# ignore local debugging artifact
secrets.yaml

# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class

# ignore scratch data
boneyard.py

# ignore the unused folder
unused

# various
.DS_Store
