# put your secret values and credentials here. do not share this file and do not push it to github
[sources.chess]
secret_str = ""

[sources.chess.secret_dict] 
hello = ""

[destination.motherduck]
dataset_name = "" 

[destination.motherduck.credentials]
database = ""
password = "" 
